@import './base/reset', './base/vars', './base/mixin';

@import './blocks/header', './blocks/navigation', './blocks/sale', './blocks/about', './blocks/services';

@font-face {
    font-family: "Inter", sans-serif;
    src: url('./../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf');
    font-weight: normal;
    font-style: normal;
    
}

body {
    font-family: "Inter", sans-serif;
    color: $font-color-first;
    background-color: $bg-color;
}

.container {
    max-width: 1444px;
    margin: 0 auto;
}
