.about {
    margin-top: $indent-large;
    @include flex-gap(4rem);
    flex-wrap: nowrap;

    &__image {
        width: 44.5rem;
        height: 44.5rem;
        border-radius: 10px;
    }
}

.description {
    &-text {
        margin-top: 4.1rem;
        @include column-row(2.6rem);

        p {
            font-size: 1.3rem;
            font-weight: $font-weight-regular;
            max-width: 39.4rem;
        }
    }
}