.footer {
    margin-top: 100px;
    &-top {
        @include flex;

        border-bottom: 1px solid #5C5C5C;
        margin-bottom: 20px;

    }

    &-bottom {
        margin: 20px 0;
        &__text {
            font-size: 14px;
            font-weight: $font-weight-regular;
            color: #6D6D6D;
        }
    }
}