.footer {
    margin-top: $indent-large;
    &-top {
        @include flex;

        border-bottom: 1px solid $footer-border-color;
        margin-bottom: 1.2rem;

        &__logo {
            width: 6.2rem;
            height: 2.9rem;
        }

    }

    &-bottom {
        margin: 1.2rem 0;
        &__text {
            font-size: 0.8rem;
            font-weight: $font-weight-regular;
            color: #6D6D6D;
        }
    }
}