.sale {
    // position: relative;
    display: flex;
    justify-content: space-between;

    // position: absolute;

    &-rectangle {
        position: absolute;
        // margin: 0 -20%;
        // margin: -100%;
        left: 0;
        &__background {
        }
    }

    &__title {
        font-weight: $font-weight-light;
        font-size: 30px;
        max-width: 500px;
        margin-top: 8.8rem;
        z-index: 2;
    }

    &__image {
        margin-top: 2.5rem;
        z-index: 1;
    }
}