@mixin flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-gap($column) {
    display: flex;
    column-gap: $column;
    flex-wrap: wrap;
}