@mixin flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-gap($column) {
    display: flex;
    // justify-content: space-between;
    gap: $column;
    flex-wrap: wrap;
}

@mixin column-flex($column) {
    display: flex;
    align-items: center;
    column-gap: $column;
}

@mixin column-row($row) {
    display: flex;
    flex-direction: column;
    row-gap: $row;
}

@mixin title {
    font-size: 2rem;
    font-weight: $font-weight-bold;
}