$bg-color: #1B1B1B;

$color-white: #FFFFFF;


$font-color-first: #FFFFFF;
$font-color-second: #AFAFAF;
$font-color-third: #000000;

$font-color-accent-first: #28DE9C;
$font-color-accent-second: #FFD646;
$font-color-accent-third: #FF0000;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;